Repository bazelruby/rules_ruby, pull requests merged in 2021-07, with the labels that each got.

#103 Support ruby 3
  ruby/private/sdk.bzl
  ruby/private/toolchains/ruby_runtime.bzl
Labels: upgrade

#105 Massive upgrade of everything at once ;-)
  .bazelversion
  .circleci/Dockerfile
  .circleci/config.yml
  .envrc
  .ruby-version
  CHANGELOG.md
  Gemfile.lock
  README.md
  WORKSPACE
  bin/clean
  bin/deps
  bin/setup
  bin/setup-darwin
  bin/test-suite
  examples/example_gem/WORKSPACE
  examples/simple_rails_api/Gemfile.lock
  examples/simple_rails_api/WORKSPACE
  examples/simple_script/.rubocop.yml
  examples/simple_script/Gemfile
  examples/simple_script/Gemfile.lock
  examples/simple_script/WORKSPACE
  ruby/private/bundle/create_bundle_build_file.rb
  ruby/private/constants.bzl
  ruby/private/dependencies.bzl
  ruby/private/toolchains/ruby_runtime.bzl
Labels: upgrade

#92 feat: Support mapping the vendor cache from workspace
  README.md
  examples/simple_script_vendored/.gitignore
  examples/simple_script_vendored/.relaxed-rubocop-2.4.yml
  examples/simple_script_vendored/.rubocop.yml
  examples/simple_script_vendored/BUILD.bazel
  examples/simple_script_vendored/Gemfile
  examples/simple_script_vendored/Gemfile.lock
  examples/simple_script_vendored/README.md
  examples/simple_script_vendored/WORKSPACE
  examples/simple_script_vendored/lib/BUILD
  examples/simple_script_vendored/lib/foo.rb
  examples/simple_script_vendored/script.rb
  examples/simple_script_vendored/spec/lib/foo_spec.rb
  examples/simple_script_vendored/spec/script_spec.rb
  examples/simple_script_vendored/spec/spec_helper.rb
  examples/simple_script_vendored/vendor/cache/ast-2.4.2.gem
  examples/simple_script_vendored/vendor/cache/diff-lcs-1.4.4.gem
  examples/simple_script_vendored/vendor/cache/jaro_winkler-1.5.4.gem
  examples/simple_script_vendored/vendor/cache/parallel-1.20.1.gem
  examples/simple_script_vendored/vendor/cache/parser-3.0.0.0.gem
  examples/simple_script_vendored/vendor/cache/rainbow-3.0.0.gem
  examples/simple_script_vendored/vendor/cache/rspec-3.7.0.gem
  examples/simple_script_vendored/vendor/cache/rspec-core-3.7.1.gem
  examples/simple_script_vendored/vendor/cache/rspec-expectations-3.7.0.gem
  examples/simple_script_vendored/vendor/cache/rspec-its-1.3.0.gem
  examples/simple_script_vendored/vendor/cache/rspec-mocks-3.7.0.gem
  examples/simple_script_vendored/vendor/cache/rspec-support-3.7.1.gem
  examples/simple_script_vendored/vendor/cache/rubocop-0.78.0.gem
  examples/simple_script_vendored/vendor/cache/ruby-progressbar-1.11.0.gem
  examples/simple_script_vendored/vendor/cache/unicode-display_width-1.6.1.gem
  ruby/private/bundle/def.bzl
  ruby/private/constants.bzl
Labels: fix-tests, rule::ruby_bundle

#102 Add `includes` option to `ruby_bundle` rule for per-gem load path customization
  README.md
  WORKSPACE
  ruby/private/bundle/create_bundle_build_file.rb
  ruby/private/bundle/def.bzl
  ruby/private/constants.bzl
  ruby/tests/testdata/bundle_includes_workspace/BUILD.bazel
  ruby/tests/testdata/bundle_includes_workspace/Gemfile
  ruby/tests/testdata/bundle_includes_workspace/Gemfile.lock
  ruby/tests/testdata/bundle_includes_workspace/WORKSPACE
  ruby/tests/testdata/bundle_includes_workspace/script.rb
Labels: review-in-progress, rule::ruby_bundle
